<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Центр современного постранства Центр 5</title>
  </head>
  <header>
    <nav>
      <a href="#">Регистрация</a>
      <a href="#">Вход</a>
    </nav>
  </header>

  <main>
    <h1>
      Добро пожаловать в Центр 5
      <span> Центр современного пространства</span>
    </h1>
  </main>

  <footer></footer>
  <body></body>
</html>
