<div class="site">
  <header>
    <nav>
      <div class="banner">
        <a [routerLink]="['']">Домой</a>
      </div>

      <div class="header-panel">
        <a [routerLink]="['members']">Подписчики</a>
        <div class="auth-panel">
          <ng-container *ngIf="!isAuthenticated; else elseTemplate">
            <a [routerLink]="['signup']">Регистрация</a>
            <a [routerLink]="['signin']">Вход</a>
          </ng-container>
          <ng-template #elseTemplate>
            <a (click)="onSignOut()">Выход</a>
          </ng-template>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer></footer>
</div>
